@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Comfortaa&display=swap');

:root{
    --primary-color: #B7B7A4;
    --secondary-color: #3f3f3f;
    --tertiary-color: #F4F3EE;
    --font-color-titles: #B67068;
    --font-family-titles-text: 'Comfortaa', cursive;
    --font-family-nav-bar: 'Caudex', serif;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1{
    text-transform: uppercase;
    font-size: 8vw;
    font-family: var(--font-family-titles-text);
    color: var(--font-color-titles);
    padding: 11vh 0 40px 0;
}

.nav-bar {
    top: 0;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--primary-color);
    right: 0px;
    left: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    z-index: 1;
}

.nav-logo {
    font-family: var(--font-family-nav-bar);
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.nav-logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.nav-subtitle, .nav-title, li a,  .contato-texto, .contato-texto a, .container-logo h1{
    color: var(--tertiary-color);
}

.nav-subtitle{
    font-size: 1vw;
}

.nav-title {
    font-size: 2vw;
}

.nav-list {
    list-style: none;
    display: flex;
    border-color: var(--secondary-color);
}

.nav-list li {
    letter-spacing: 3px;
    padding: 10px 16px 10px 16px;
    font-family: 'Comfortaa', cursive;
    transition: 0.1s;
}

.nav-list li:hover {
    border-radius: 5px;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.mobile-nav {
    display: none;
    cursor: pointer;
}

.mobile-nav div {
    width: 32px;
    height: 2px;
    background: var(--tertiary-color);
    margin: 8px;
    transition: 0.3s;
}

/*Logo princpal*/

.container-logo{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-logo img{
    width: 100vw;
    opacity: 75%;
}

.container-logo h1{
    text-transform: uppercase;
    position: absolute;
    font-size: 8vw;
    font-family: var(--font-family-nav-bar);
    padding: 0;
}

/*Sobre*/

.sobre{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.sobre-conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobre-texto{
    width: 40vw;
    font-family: var(--font-family-titles-text);
    font-size: 22px;
}

.sobre-img img{
    width: 300px;
    border-radius: 100%;
}

/*Projetos*/

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto{
    display: flex;
    align-items: center;
    width: 70vw;
    margin-bottom: 30px;
}

.projeto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-titles-text);
    background-color: var(--tertiary-color);
}

.projeto-info-e{
    border-radius: 15px 0 0 15px;
}

.projeto-info-d{
    border-radius: 0 15px 15px 0
}

.projeto-texto{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projeto-texto p, .sobre-texto p{
    color: var(--secondary-color);
    text-align: justify;
} 

.projeto-texto h3{
    color: var(--secondary-color);
    text-align: left;
} 

.projeto-texto h3{
    font-size: 1.5em;
}

.projeto-texto p{
    font-size: 1em;
}

.projeto-texto h3{
    font-weight: bold;
}

.projeto-button{
    padding: 20px;
}

.projeto-button button{
    font-family: var(--font-family-titles-text);
    font-size: 1.1em;
    width: 250px;
    background-color: var(--primary-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: var(--tertiary-color);
    cursor: pointer;
    transition: 0.1s;
}

.projeto-button button:hover{
    transition: 0.3s;
    background-color: var(--secondary-color);
}

.projeto-img img{
    box-shadow: 0 0 3px #8888, 0 0 5px #8888;
    display: flex;
    width: 40vw;
    cursor: pointer;
    transition: 0.1s;
}

.projeto-img img:hover{
    transition: 0.3s;
    opacity: 80%;
}

.projeto-carousel{
    display: none;
}

.swiper {
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next, .swiper-button-prev{
    margin-right: 20px;
    color: var(--tertiary-color);
  }

  .project-img img{
    width: 1200px;
  }

.close-carousel-btn{
    z-index: 2;
    position: fixed;
    background: none;
    border: none;
    right: 0;
    color: var(--tertiary-color);
    font-size: large;
    display: none;
    cursor: pointer;
    font-size: 20px;
}

/*Contato*/
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contato-texto{
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    font-family: var(--font-family-titles-text);
    justify-content: center;
    gap: 10px;
    height: 250px;
    width: 350px;
}

.contato-texto h3{
    margin-bottom: 40px;
    font-size: 3em;
    text-transform: uppercase;
}

.contato-texto a{
    text-decoration: none;
    text-transform: lowercase;
}

.contato-img img{
    height: 500px;
    border-radius: 10px;
}

.redes-sociais{
    display: flex;
    gap: 10px;
}

/*Footer*/

footer span{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: 'Comfortaa', cursive;
}

/*Mobile*/

.nav-list.active {
    transform: translateX(0);
    display: flex;
}


.mobile-nav.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-nav.active .line2 {
    opacity: 0;
}

.mobile-nav.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1499px){
    .project-img img{
        width: 1000px;
      }

    .projeto-texto h3, .projeto-texto p{
        font-size: .8em;
    }

    .projeto-button button{
        font-size: .7em;
        width: 150px;
    }
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .sobre-texto{
        font-size: 18px;
    }

    /*nav bar*/
    .nav-list {
        display: none;
        position: absolute;
        top: 9.9vh;
        right: 0;
        width: 100%;
        height: 29vh;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: none;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .nav-title{
        font-size: 4vw;
    }

    .nav-subtitle{
        font-size: 2vw;
    }

    .nav-list li {
        margin-left: 0;
        border-bottom: var(--secondary-color) 1px solid;
        opacity: 0;
    }

    .mobile-nav {
        display: block;
    }

    /*Logo*/
    h1{
        font-size: 11vw;
    }

    .container-logo h1{
        font-size: 11vw;
    }

    /*Projetos*/
    .projeto-texto{
        font-size: 14px;
    }

    .swiper-button-next{
        margin-right: 0px;
      }
      .swiper-button-prev {
        margin-left: 0px;
    }

    .projeto-texto h3, .projeto-texto p{
        font-size: .7em;
    }

    .projeto-button button{
        font-size: .6em;
    }

    .project-img img{
        width: 700px;
      }

    /*Contato*/
    .contato-img img{
        height: 400px;
    }

    .contato-texto{
        height: 180px;
        width: 300px;
    }

    .contato-img img{
        height: 350px;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@media (max-width: 799px) {
    .projeto{
        box-shadow: 0 0 3px #8888, 0 0 5px #8888;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        margin-bottom: 30px;
        background-color: var(--tertiary-color);
    }
    
    .projeto-d{
        flex-direction: column-reverse;
    }
    

    .projeto-img img{
        width: 100%;
    }

    .projeto-button button{
        margin-bottom: 10px;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 30px;
    }

    .project-img img{
        width: 400px;
      }

    .projeto-texto h3, .projeto-texto p{
        font-size: 1em;
    }

    .projeto-button button{
        font-size: .8em;
    }

    .project-img img{
        width: 500px;
      }
}

@media (max-width: 599px) {
    /*nav bar*/
    .nav-title{
        font-size: 28px;
    }
    .nav-subtitle{
        font-size: 19.2px;
    }

    /*Sobre*/
    .sobre-conteudo{
        flex-direction: column-reverse;
    }

    h1{
        padding-top:11vh;
    }
    
    .sobre-img img{
        padding: 15px;
        width: 200px;
    }

    .sobre-texto{
        width: 80vw;
    }

    /*Contato*/
    .contato{
        flex-direction: column-reverse;
    }

    .contato-texto{
        padding: 15px;
        border-radius: 0;
        width: 70vw;
        height: 150px;
        margin-top: 200px;
        border-radius: 10px;
    }

    .contato-texto h3{
        font-size: 30px;
        margin-bottom: 0;
    }

    .contato-img{
        margin-bottom: 180px;
        position: absolute;
    }

    .contato-img img{
        height: 250px;
    }
}

@media (max-width: 549px){
    .nav-logo{
        margin-left: 10px;
    }
    .nav-title{
        font-size: 22.4px;
    }
    .nav-subtitle{
        font-size: 15.36px;
    }
    
    .mobile-nav div{
        width: 28px;
    }

    .contato-texto{
        height: 130px;
    }

    .contato-img{
        margin-bottom: 130px;
    }

    .contato-img img{
        height: 200px;
    }
}

@media (max-width: 469px){
    /*nav-bar*/
    .nav-bar{
        height: 8vh;
    }

    .nav-list{
        top: 7.8vh;
    }

    .nav-title{
        font-size: 17px;
    }
    .nav-subtitle{
        font-size: 12px;
    } 

    /*Logo*/
    h1{
        padding-top:8vh;
    }

    .container-logo{
        padding-top: 8vh;
    }   
    
    .sobre-texto{
        font-size: 14px;
    }

    /*Contato*/
    .contato-texto{
        height: 110px;
    }
    .contato-texto h3{
        font-size: 20px;
    }
    .contato-texto a{
        font-size: 14px;
    }

    .contato-img{
        margin-bottom: 65px;
    }

    .contato-img img{
        height: 150px;
    }

    /*projeto*/
    .swiper-button-next, .swiper-button-prev{
        width: 0;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 20px;
    }
    .project-img img{
        width: 300px;
      }

    .projeto-texto h3, .projeto-texto p{
        font-size: .8em;
    }

    .projeto-button button{
        font-size: .7em;
    }
    /*footer*/
    footer span{
        font-size: 12px;
    }
}

@media (max-width: 329px){
    .project-img img{
        width: 270px;
      }
}

